
/*top*/
.top{
    height:581px;
    background: url(../img/topBg.jpg)no-repeat top center;
    padding-top:220px;
    background-size: cover;
    
}
.top h1{
    font:48px 'Parangon 530C', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin:0 80px; 
    
}
.top p{
    font:24px 'PT Sans Caption',sans-serif;
    color:#fff;
    text-align: center;
    margin: 25px 265px;
    margin-bottom:0; 
    line-height: 1.5;
}
.achievements{
    width:60%;
    margin:55px auto;
    padding:0 100px;
    position: relative;
}
.iconStyle{
    display: inline-block;
    background: url(../img/topSetIcon.png)no-repeat;
    height: 174px;
    width: 253px;
    position: absolute;
  
}
.content{
    
    margin-top:55px;
    width: inherit;
    text-align: center;    
    
}
.number{
    font:48px 'Parangon 530C',sans-serif; 
    color: #fff;
}
.text{
    font:18px 'PT Sans Caption',sans-serif;
    color: #fff;
}
.services{
    left: 0;
    top:0;
}
.projects{
    background-position: -310px 0;
    left: 38%;
    top: 0;
   
}
.clients{
    background-position: -619px 0;
    right:0;
    top:0;
}
/*/top*/